* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1d7874, #679289);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    padding: 20px;
    background-color: #dcf5f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #1d7874;
    font-weight: bolder;
}

form input {
    
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

form input[type="submit"] {
    background-color: #1d7874;
    width: 70%;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background-color: #fff;
    width: 73%;
    color: #1d7874;
    cursor: pointer;
}

